*{
  box-sizing: border-box;
}
:root{
  --xRed:rgb(197,1,1)
  --xBlue: rgb(0, 0, 255);
}





.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.btn{
  background-color: black;
  color: white;
  padding: 10px;
  box-shadow: 0px 0px 0px #888;
  border-radius: 10px;
  margin: 10px;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
